@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MS-DOS";
  font-style: normal;
  font-weight: 400;
  src: url(../public/assets/fonts/PxPlus_IBM_VGA_9x16.ttf) format("woff");
}

:root {
  --primary-colour: hsl(220, 70%, 70%);
  --secondary-colour: hsl(12, 80%, 27%);
  --accent-colour: hsl(300, 80%, 30%);
  --neutral-colour: hsl(0, 0%, 20%);
  --error-colour: hsl(60, 100%, 50%);
  --light-colour: hsl(220, 5%, 90%);
  --dark-colour: hsl(220, 5%, 10%);
}

input,
textarea,
select {
  border-radius: 0;
}

.markdown-block {
  @apply flex flex-col gap-2;
}

.markdown-block.docs * {
  @apply text-default-light;
}

.markdown-block.docs a {
  @apply text-default-primary hover:underline;
}

.markdown-block.docs h1 {
  @apply hidden;
}

.markdown-block.docs h3::before {
  content: "##";
  @apply pr-2 text-default-accent;
}

.markdown-block.docs h2::before {
  content: "#";
  @apply pr-2 text-default-accent;
}

.markdown-block:not(.docs) h1 {
  @apply text-2xl;
}

.markdown-block h2 {
  @apply text-2xl pb-1 pt-2;
}

.markdown-block h3 {
  @apply text-xl pb-1 pt-2;
}

.markdown-block ul li {
  list-style-type: "-";
  @apply ml-8 pl-4;
}

.markdown-block a {
  @apply text-default-primary;
}

.markdown-block code {
  @apply font-display overflow-auto w-[20px] bg-default-background;
}

.markdown-block pre {
  @apply bg-default-background py-2 px-4 whitespace-pre overflow-y-hidden overflow-x-auto m-0 max-w-full;
}

.markdown-block img {
  @apply mx-auto;
}

.skeleton-loading {
  animation-name: feed-skeleton-loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes feed-skeleton-loading {
  0% {
    background: var(--neutral-colour);
  }
  50% {
    background-color: hsl(from var(--neutral-colour) h s calc(l + 5));
  }
  100% {
    background: var(--neutral-colour);
  }
}

@media only screen and (pointer: coarse) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (pointer: coarse) and (min--moz-device-pixel-ratio: 2),
  only screen and (pointer: coarse) and (min-device-pixel-ratio: 2) {
  .changelog {
    @apply p-3 flex items-center justify-center;
    padding-left: 1.5rem;
  }

  .links-footer a {
    @apply py-2 px-3;
  }

  .links-footer a:last-child {
    padding-right: 1rem;
  }

  .nixconnect {
    @apply p-3;
  }

  .top-link {
    @apply p-3 px-3;
  }

  .main-container {
    @apply py-10;
  }

  .search-button {
    @apply p-0 px-1;
  }

  .search-button div:nth-child(1) {
    @apply p-3;
  }

  .search-button div:nth-child(2) {
    @apply p-2 px-5;
  }

  .top-navigation {
    @apply top-14;
  }

  .top-navigation li {
    @apply p-4 px-8 min-w-72;
  }
}
